<div class="row justify-content-md-center">
  <div class="col-md-6">
    <div class="voffset-150 voffset-lg-220"></div>
    <h3 class="text-center big-h3">Let’s work together</h3>
    <p class="text-center">Donec orci sem, pretium ac dolor et, faucibus faucibus mauris. Etiam aliquet,
    faucibus, nisi eros vehicula lorem.</p>
    <div class="voffset-20 voffset-lg-40"></div>
    <p class="text-center"><a href="contact.html" class="btn btn-featured">contact us</a></p>
    <div class="voffset-100 voffset-lg-150"></div>
  </div>
</div>
