<div class="header">

  <nav class="navbar navbar-toggleable-md">
    <div class="container">

      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="index.html">
        <img src="{{ url }}/assets/images/logo-calibre.svg" alt="logo-calibre">
      </a>

      <div class="navbar-collapse collapse justify-content-end" id="containerNavbar" aria-expanded="false">
        <ul class="navbar-nav">
          {% for item in site.data.settings.menu %}
              <li class="nav-item"><a class="nav-link {% if item.page_url == page.url %}active{% endif %}" href="{{ url }}/{{ item.url }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
        <!-- {% include footer.html %} -->
      </div>
    </div>
  </nav>
</div>
  
