---
layout: default
---

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">

        <div class="voffset-80 voffset-lg-110"></div>

        <h2>{{ page.title }}</h2>
        <p class="description">project description</p>
        <span class="separator accent"></span>
        <div class="voffset-30"></div>
        <p>{{ content }}</p>
        <div class="voffset-30"></div>
        <p><a href="{{ page.link }}" class="btn btn-featured-inverse">Launch project</a></p>

      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="clientinfo text-right">Client: {{ page.client }}</p>
        <div class="line"></div>
        <div class="voffset-30 voffset-lg-50"></div>
      </div>
    </div>
  </div>
</div>

<div class="section content-single-project">
  <div class="container">

    <div class="row">
      <div class="col-md-12">

        <img src="{{ page.project_img_one}}" alt="">
        <div class="voffset-20 voffset-lg-60"></div>
        <img src="{{ page.project_img_two}}" alt="">
        <div class="voffset-20 voffset-lg-60"></div>
        <img src="{{ page.project_img_three}}" alt="">

      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="voffset-40 voffset-lg-90"></div>
        <div class="pagination pagination-left"><a href="single-project3.html"></a></div>
      </div>
      <div class="col-4">
        <div class="voffset-40 voffset-lg-90"></div>
        <div class="pagination pagination-center"><a href="index.html"></a></div>
      </div>
      <div class="col-4">
        <div class="voffset-40 voffset-lg-90"></div>
        <div class="pagination pagination-right"><a href="single-project2.html"></a></div>
      </div>
    </div>


    <div class="voffset-100 voffset-lg-200"></div>

  </div>
</div>
